
<mat-card class="data-card">
      <div>
          <div fxLayout="row wrap">
            <ng-container *ngFor="let value of plantsList">
                <div class="plant-card" fxFlex="25">
                    <mat-card class="data-card">
                        <div fxLayout="column" fxLayoutAlign="start center">
                            <div >
                              <img class="image-plant" src={{value.photoName}}>
                            </div>
                              <div class="title-plant">{{ value.name }}</div>
                              <div class="description-data"> {{value.description}} </div>
                              <div class="description-data"> Temporada de siembra: {{value.plantTime}} </div>
                              <div class="description-data"> Perenne: {{value.perene}} </div>
                          </div>
                    </mat-card>
                </div>
            </ng-container>

          </div>
      </div>

</mat-card>
